@font-face {
    font-family: "Minecraft";
    src: url(../fonts/Minecraft.ttf);
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    height: auto;

    background-color: #00000079;
    backdrop-filter: blur(10px);
    border-radius: 6px;
    box-shadow: 0px 0px 10px black;

    opacity: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    text-align: center;
    border: 1px solid #9696961f;

    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;

    transition: opacity 2.5s;
}

#profile-picture {
    width: 20%;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #030303;
    border: 1px solid #3f3f3f;
}

#profile-name {
    font-family: "Minecraft";
    font-size: 4.5vh;
    font-weight: normal;
    text-shadow: 0px 0px 10px white;
}

#profile-description {
    font-family: "Cutive Mono";
    font-size: 1.5vw;
    padding: auto;
}

.badges {
    margin-top: -1vh;
    width: 24%;
    max-width: 16rem;
    height: 8vh;
    max-height: 4rem;
    border-radius: 200px;
    border: 1px solid #42424242;
    background-color: #161616;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 2px;
}

.badges svg {
    filter: drop-shadow(0px 0px 6px #FFF);
    width: auto;
    height:60%;
}

#profile-bio {
    font-size: 1.7vw;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.links svg {
    filter: drop-shadow(0px 0px 6px #FFF);
    height: auto;
    width: 3vw;
}

.links a {
    color: white;
    text-decoration: none;
}

::selection {
    background: transparent;
    color: inheret;
}

/*          Mobile / Portrait view        */
@media only screen and (orientation: portrait){
    .container {        
        height: 50%;
        width: 70%;
    }

    #profile-picture {
        width: 30%;
    }

    #profile-description {
        font-size: 2.2vw;
        margin-top: 2%;
    }

    #profile-bio {
        font-size: 3vw;
    }

    .badges {
        width: 30%;
    }

    .badges svg {
        width: 1.4em;
        height: 1.4em;
    }

    .links svg {
        height: 6vw;
        margin-top: 10%;
    }
}