body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
    position: fixed;
}

.landing {
    height: 100vh;
    width: auto;

    backdrop-filter: blur(5px);
}

#landing {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border-style: none;
    backdrop-filter: blur(10px);

    transition: all 2.0s;
    z-index: 2;
}

#landing h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 3px 3px 5px black;
}

@media only screen and (orientation: portrait)  {
    #background {
        height: 100vh;
        object-fit: cover;
        object-position: bottom;
    }
}

.overlay-dots {
    background-image: url("/media/dots.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;

    inset: 0;
    z-index: 1;
    pointer-events: none;
    position:fixed;
}